<div class="commerce-widget-numberstat">
    <strong class="commerce-widget-numberstat-number">{{ (number ?? 0)|commerceCurrency(craft.commerce.paymentCurrencies.getPrimaryPaymentCurrencyIso()) }}</strong><br>
    <span>{{ 'total recovered from Abandoned Carts'|t('commerce')|e }}</span><br>
    <span class="extralight">{{ timeFrame|e }}</span>
</div>